@ media (max-width: 768px) {

}


@media (max-width: 600px) {
  h1 {
    background-color: seagreen;
    font-size: 3em;
  }

  button {
    background-color: lightblue;
  }
}

in
@media screen and (min-width: 600px) {
  h1 {
    background-color: brown;
    font-size: 2em;
  }
}