header #a {
  width: 480px;
  height: 75px;
  background-color: #5f9ea0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#b {
  width: 480px;
  height: 150px;
  background-color: #e0ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#c {
  width: 480px;
  height: 125px;
  background-color: #00ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#d {
  width: 480px;
  height: 125px;
  background-color: #40e0d0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 {
  display: flex;
}

#section1 #e {
  width: 240px;
  height: 250px;
  background-color: #afeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 #f {
  width: 240px;
  height: 250px;
  background-color: #add8e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section2 {
  display: flex;
}

#section2 #g {
  width: 240px;
  height: 250px;
  background-color: #b0c4de;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section2 #h {
  width: 240px;
  height: 250px;
  background-color: #4682b4	;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 480px;
  height: 80px;
  background-color: #87cefa;
  display: flex;
  align-items: center;
  justify-content: center;
}
