header #a {
  width: 480px;
  height: 75px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

#b {
  width: 480px;
  height: 150px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#c {
  width: 480px;
  height: 125px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

#d {
  width: 480px;
  height: 125px;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 {
  display: flex;
}

#section1 #e {
  width: 240px;
  height: 250px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 #f {
  width: 240px;
  height: 250px;
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section2 {
  display: flex;
}

#section2 #g {
  width: 240px;
  height: 250px;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section2 #h {
  width: 240px;
  height: 250px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 480px;
  height: 80px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}
