@media screen and (min-width: 768px) {
  
  header #a{
    width: 960px;
    height: 100px;
  }

  .main1 {
    float: left;
  }

  #b {
    width: 200px;
    height: 600px;
  } 

  #c-d {
    display: flex;
  }

  #c {
    width: 380px;
    height: 200px;
  }
  
  #d {
    width: 380px;
    height: 200px;
  }

  #e-f-g-h {
    display: flex;
  }

  #section1 {
    display: flex;
  }

  #section1 #e{
    width: 190px;
    height: 250px;
}

  #section1 #f{
    width: 190px;
    height: 250px;
  }

  #section2 {
    display: flex;
  }

  #section2 #g{
    width: 190px;
    height: 250px;
  }

  #section2 #h{
    width: 190px;
    height: 250px;
  }

  footer {
    width: 760px;
    height: 150px;
}

}