@media screen and (min-width: 768px) {
  header {
    width: 960px;
    height: 100px;
  }

  .left-section {
    float: left;
  }

  #b {
    width: 200px;
    height: 600px;
  }

  #c-d {
    display: flex;
  }

  #c {
    width: 380px;
    height: 200px;
  }

  #d {
    width: 380px;
    height: 200px;
  }

  #e-f-g-h {
    display: flex;
  }

  #section1 {
    display: flex;
  }

  #e {
    width: 190px;
    height: 250px;
  }

  #f {
    width: 190px;
    height: 250px;
  }

  #section2 {
    display: flex;
  }

  #g {
    width: 190px;
    height: 250px;
  }

  #h {
    width: 190px;
    height: 250px;
  }

  footer {
    width: 760px;
    height: 150px;
  }
}

@media screen and (max-width: 767px) {
  header {
    background-color: #228b22;
  }

  #b {
    background-color: #9acd32;
  }

  #c {
    background-color: #32cd32;
  }

  #d {
    background-color: #adff2f;
  }

  #e {
    background-color: #00fa9a;
  }

  #f {
    background-color: #7fff00;
  }

  #g {
    background-color: #3cb371;
  }

  #h {
    background-color: #7fffd4	;
  }
  
  footer{
    background-color: #66cdaa;
  }

}